In [1]:
#1.Write a python program to convert a string to lower case

In [2]:
x="KiraNKumaR"
x.lower()

'kirankumar'

In [ ]:
#2.Write a python program to convert only odd indexed characters to lower case

In [4]:
var="PYTHON"
var[0]+var[1].lower()+var[2]+var[3].lower()+var[4]+var[5].lower()

'PyThOn'

In [5]:
#3.Write a python program to convert only even indexed characters to lower case

In [7]:
y="PYTHON"
y[0].lower()+y[1]+y[2].lower()+y[3]+y[4].lower()+y[5]

'pYtHoN'

In [8]:
#4.Write a python program to convert only odd indexed characters to upper case

In [11]:
x="python"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()

'pYtHoN'

In [12]:
#5.Write a python program to convert only even indexed characters to upper case

In [15]:
n="python"
n[0].upper()+n[1]+n[2].upper()+n[3]+n[4].upper()+n[5]

'PyThOn'

In [16]:
#6.Write a python program where you have different variable which contains your name ,sex,age, phone no ,fathers name and mothers name.Avariable named bio-data where you will use and by using this variable create a variable named bio-data where you will use all thus variable

In [23]:
name="Kiran"
sex="male"
age="22"
phoneno="7093837759"
fathersname="raju"
mothersname="lakshmi"

"my name is {}, my sex is {}, my age is {}, my phone no is {}, my fathers name is {}, my mothers name is {}".format(name,sex,age,phoneno,fathersname,mothersname)

'my name is Kiran, my sex is male, my age is 22, my phone no is 7093837759, my fathers name is raju, my mothers name is lakshmi'

In [24]:
#7.Write a python program to count how many times “@” occurred

In [26]:
x="python@is@a@programming@language"
x.count("@")

4

In [27]:
#8.Write a python program to get only names from the string “name1.@gmail.com,name2.@gmail.com,name 3.@gmail.com” Output-name1,name2,name3

In [48]:
var="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
var[0:5],var[17:22],var[34:39]

('name1', 'name2', 'name3')

In [ ]:
#9.Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String

In [55]:
k="mynameissan"
k[4:7]

'mei'

In [57]:
#10.Write a python program to insert a 2 string in the middle of 1 string

In [2]:
Str1="myn"
Str2="sa"
x=len(Str1)//2
result=Str1[:x]+Str2+Str1[x:]
result

'msayn'

In [3]:
#11.Write a program to remove vowels from the entire alphabets

In [12]:
k="abcdefghijklmnopqrstuvwxyz"
k.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

'bcdfghjklmnpqrstvwxyz'